---
sitemap: false
---

/*
my customization

*/


.logo-img {
    width: 20%;
    height: auto;
}

/*
 *
 *  Skinny Bones Jekyll Starter
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

/* FONT PATH
 * -------------------------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@import "variables";

/*
   Vendor
   ========================================================================== */

@import "vendor/bourbon/bourbon";
@import "grid-settings";
@import "vendor/neat/neat";
@import "vendor/font-awesome/font-awesome";

/*
   Global
   ========================================================================== */

@import "mixins";
@import "reset";
@import "base";

/*
   Components
   ========================================================================== */

@import "helpers";
@import "buttons";
@import "badges";
@import "bullets";
@import "sliding-menu";
@import "menu-navicons"; /* animated 3 line menu icon */
@import "notices";
@import "animations";
@import "tiles";
@import "footnotes";
@import "toc"; /* table of contents */
@import "breadcrumbs";
@import "syntax";

/*
   Page specific
   ========================================================================== */

@import "layout";

div.speaker, div.sponsor {
	@include outer-container;
	img { @include span-columns(3); }
	p { @include span-columns(9); }
	div.desc { @include span-columns(9); }
}

#primary-reg-button {
	font-size: 1.6em;
	/* TODO: font */
	/* font-family: $base-font; */
	border: 2px solid green;
	font-variant: small-caps;
	color: #fff !important;
}

section#intro {
	font-size: 1.5em;
	margin-top: 2em;
	margin-bottom: 2em;
}

#theme-ea, #theme-development-aid,
		#theme-future, #theme-career, #theme-rationality {
	display: block;
	height: 250px;
	position: relative;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	h3 {
		span {
			padding: 0.5em;
			background: rgba(255, 255, 255, 0.8);
		}
	}
	p {
		padding: 0.5em;
		position: absolute;
		margin-right: 2em;
		bottom: 0;
		left: 2em; /* TODO: why? */
		background: rgba(255, 255, 255, 0.8);
	}
}

#theme-ea {
	background: url('/images/marble.jpg');
	background-position: top center;
	background-size: 100% auto;
}

#theme-development-aid {
	background: url('/images/nets.jpg');
	background-size: 100% auto;
}

#theme-future {
	background: url('/images/tech.jpg');
	background-position: top center;
	background-size: 100% auto;
}

#theme-career {
	background: url('/images/work.jpeg');
	background-position: center center;
	background-size: 100% auto;
}

#theme-rationality {
	background: url('/images/babbage.png');
	background-position: center center;
	background-size: 100% auto;
}

dl {
	dt {
		margin: 1em 0;
		font-weight: bold;
	}
	font-size: 1.2em;
	a {
		border-bottom: 1px dotted black;
	}
}
.menu li a.prihlaska-top:after {
	/*border-top: 0;*/
	width: 0 !important;
}

div.page-content {
	h2 {
		color: #32ABC2;
	}
}
