<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
    {% include open-graph.html %}
    {% if author.google.plus %}<link rel="author" href="https://plus.google.com/{{ author.google.plus }}"/>{% endif %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
    <link rel="icon" href="/images/ea-64.png" type="image/x-icon">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    <!-- HTML5 Shiv and Media Query Support for IE -->
    <!--[if lt IE 9]>
      <script src="{{ site.url }}/js/vendor/html5shiv.min.js"></script>
      <script src="{{ site.url }}/js/vendor/respond.min.js"></script>
    <![endif]-->

    <script src="{{ site.url }}/js/vendor/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="{{ site.url }}/js/main.js"></script>
  </head>

  <body>
	<header id="masthead2">
	  <div class="inner-wrap">
	    <a href="{{ site.url }}/" class="site-title">{{ site.title }}</a>
    <nav role="navigation" class="menu top-menu">
<ul class="menu-item">
	<li class="home"><a href="/">{{ site.title }}</a></li>

	<li><a href="https://goo.gl/forms/MdzZPwUsGf8e210P2" class="prihlaska-top"><span class="btn btn-success">Application</span></a></li>
	<li><a href="https://www.facebook.com/events/1316555661712747/" class="facebook-top"><span class="btn btn-info">Facebook</span></a></li>
	<li><a href="{{ domain }}/#program">Program</a></li>
	<li><a href="{{ domain }}/">Czech</a></li>
</ul>
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
	<header id="masthead">
	  <div class="inner-wrap">
	    <a href="{{ site.url }}/" class="site-title">{{ site.title }}</a>
    <nav role="navigation" class="menu top-menu">
<ul class="menu-item">
	<li class="home"><a href="/">{{ site.title }}</a></li>

	<li><a href="https://goo.gl/forms/MdzZPwUsGf8e210P2" class="prihlaska-top"><span class="btn btn-success">Application</span></a></li>
	<li><a href="https://www.facebook.com/events/1316555661712747/" class="facebook-top"><span class="btn btn-info">Facebook</span></a></li>
	<li><a href="{{ domain }}/#program">Program</a></li>
	<li><a href="{{ domain }}/">Czech</a></li>
</ul>
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->

    {% if page.image.feature %}
    <div class="page-lead" style="background-image:url({{ site.url }}/images/{{ page.image.feature }})">
      <div class="wrap page-lead-content">
        <h1>EAGxPrague 2016</h1>
        <h2>Real problems and their effective solutions</h2>
	<h3>When: December 10 2016 (9-18h)<span style="display: inline-block; width: 80px;"></span> Where: <a
	   href="https://www.paralelnipolis.cz/"><img src="images/pp-black-75.png">Paralelní Polis</a></h3>

	<h3><a class="btn btn-success" id="primary-reg-button" href="https://goo.gl/forms/MdzZPwUsGf8e210P2">Application</a></h3> 
      </div><!-- /.page-lead-content -->
    </div><!-- /.page-lead -->
    {% endif %}

    <div id="page-wrapper">
      {% include browser-upgrade.html %}

      <div id="main" role="main">
        <div class="wrap">
          <div class="page-title">
            <h1>{{ page.title }}</h1>
          </div>


          <div class="archive-wrap">
            <div class="page-content">
<section id="intro">
	Our series of talks from distinguished invited speakers provide
	everyone interested in helping the world with limited resources
	with valuable information.

	We live in an age when most of us can save many human lives at minimal
	costs. Come to EAGxPrague to learn how to use scientific thinking and
	clear reasoning to fulfill our altruistic goals!

	Let's build a better world together!
</section>
	<section id="themes">
	<div class="theme-carousel">
	  <div id="theme-ea">
		  <h3><span>Topic: Effective altruism</span></h3>

		<p>
			Reducing suffering with reason and evidence.
		</p>

	  </div>
	  <div id="theme-future">
		  <h3><span>Topic: Technological progress and the future of
				  humanity</span></h3>

		<p>
			Will our technologies lead to unprecedented progress?
			Can we deal with unexpected risks from fast development?
		</p>
	  </div>
	  <div id="theme-development-aid">
		  <h3><span>Topic: Development aid</span></h3>

		<p>
			Evidence-based solutions that provably helping hundreds of
			millions in developing countries.
		</p>
	  </div>
	  <div id="theme-rationality">
		  <h3><span>Topic: Decision-making and rationality</span></h3>
		<p>
			To reach correct conclusions and take the best possible
			actions, it is crucial to use clear and correct
			reasoning.
			Which systematic harmful biases do people have in general,
			and how can we prevent them from leading us astray?
		</p>
	  </div>
	  <div id="theme-career">
		  <h3><span>Topic: Choosing a beneficial career</span></h3>
		<p>
			We spend 80 000 hours of our lives at work.
			How can we use this short span of time to help others?
		</p>
	  </div>
	  </div>
	</section>

              {{ content }}
            </div><!-- /.page-content -->
          </div><!-- /.archive-wrap -->
        </div><!-- /.wrap -->
      </div><!-- /#main -->

	<footer role="contentinfo" id="site-footer">
		<nav role="navigation" class="menu bottom-menu">
			<ul class="menu-item">
				<li><a href="{{ domain }}/">EAGxPrague 2016</a></li>
				<li><a href="https://goo.gl/forms/MdzZPwUsGf8e210P2">Application</a></li>
				<li><a href="{{ domain }}/#program">Program</a></li>
				<li><a href="{{ domain }}/">Czech</a></li>
			</ul>
		</nav><!-- /.bottom-menu -->
		<p class="copyright">
		&#169; {{ site.time | date: '%Y' }} <a href="{{ site.url }}">{{ site.title }}</a> powered by <a href="http://jekyllrb.com">Jekyll</a> + <a href="http://mmistakes.github.io/skinny-bones-jekyll/">Skinny Bones</a>.
		GitHub: <a href="http://github.com/ea-czech-republic/eagxprague.org">github.com/ea-czech-republic/eagxprague.org</a> -
		patches welcome.
		</p>
	</footer>
      {% include footer.html %}
    </div>

  </body>

</html>
